@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,400;0,900;1,100&family=Kumbh+Sans:wght@100;200;600;700;800;900&family=Montserrat:ital@0;1&family=Titillium+Web:ital,wght@0,600;1,200;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
